{##########################}
{### PAGE CLICK EFFECTS ###}
{##########################}
{% if theme.click_love.enable %}
    <script type="text/javascript" src="/js/click-love.js"></script>
{% endif %}

{############################}
{### WEBSITE RUNNING TIME ###}
{############################}
{% if theme.website_running_time.enable %}
<script type="text/javascript" id="website-js" src="/js/website.min.js" code="all"></script>
{% endif %}