{##########################}
{### PAGE CLICK EFFECTS ###}
{##########################}
{% if theme.click_love.enable %}
    <script type="text/javascript" src="/js/click-love.js"></script>
{% endif %}