/************************* Header **************************/

/* header-隐藏顶部线条 */
.headband {
  display: none;
}

/* header-顶部空白 */
.header, .main-inner {
  margin-top: 10px;

  +mobile() {
    margin-top: 0;
  }
}

/* 圆角 */
.header-inner, ///顶部圆角
.sidebar-inner { //侧边头像圆角
  border-radius: $custom-radius;
}

.site-brand-container {
  border-radius: $custom-radius $custom-radius 0 0;

  +mobile() {
    border-radius: 0 0 $custom-radius $custom-radius;
  }
}

/************************ Sidebar **************************/

/* sidebar-标题 */
.site-title {
  font-weight: bold;
}

/* sidebar-二级菜单圆角 */
.sub-menu {
  border-radius: $custom-radius !important;
}

/************************** Post ***************************/

/* post-文章置顶 */
.post-sticky-flag {
  color: transparent;
  background: linear-gradient(90deg, #333333 0%, #CC0033 33.3%, #FF0033 66.6%, #333333 100%);
  background-size: 300% 100%; /*扩大背景区域*/
  -webkit-background-clip: text; /*截取背景区域为文字*/
  animation: thumbtack 4s infinite linear;
}

@keyframes thumbtack {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: -150% 0
  }
}

/* post-文章卡片圆角 */
.post-block,
.post-block + .post-block {
  border-radius: $custom-radius !important;
}

/* post-超链接 */
.post-body li a,
.post-body p a {
  color: $custom-link;
  border-bottom: 1px solid $custom-link;

  &:hover {
    color: $custom-link-hover;
    border-bottom: 1px solid $custom-link-hover;
  }
}

/* post-结束语 */
.complimentary-close {
  text-align: center;
  color: $grey-light;
  font-size: $font-size-largest;
  letter-spacing: $font-spacing;

  +mobile() {
    font-size: $font-size-medium;
  }
}

/* post-版权声明 */
.post-copyright ul {
   border-left: 3px solid $post-copyright-boder;
}


/****************** Pagination & Footer ********************/