//修改文内链接样式
.post-body p a {
    color: #0593d3;
    border-bottom: none;
    border-bottom: 1px solid #0593d3;
    &:hover {
        color: #fc6423;
        border-bottom: none;
        border-bottom: 1px solid #fc6423;
    }
}
//文章阴影
.post-block{
		margin-top: 60px;
	    margin-bottom: 60px;
	    padding: 25px;
	    background:rgba(255,255,255,0.9) none repeat scroll !important; //添加透明效果
	    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
	}
	.pagination, .comments {
      opacity: 0;
    }
//版权声明侧边栏样式
.post-copyright {
    margin: 2em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #81a6ed;
    background-color: #f9f9f9;
    list-style: none;
}
//动态背景效果
.bg_content {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
//底部网站运行时间
#sitetime {
  background-image: -webkit-linear-gradient(left, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}