// Margin and radius
$custom-radius                = 8px;

// Color
$grey-9-a4                    = alpha(#000, .4);
$color-orange                 = #ec8c69
$grey-2                       = #f7f7f7;
$custom-link                  = #0078e7;
$custom-link-hover            = #fc6423;
$post-copyright-border        = #81a6ed;
$recent-articles-link         = #428bca;

// Font size
$font-spacing                 = 0.2em;

// Font families.
$font-family-quote            = "EB Garamond", STKaiti, KaiTi, SimKai, DFKai-SB, "Noto Serif SC";
$font-family-custom           = cursive, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

// Image assets
$img-cdn = '/' + hexo-config('images')+'/';
$comment-bg-url               = $img-cdn + "comment-bg.png";